
:root {

    --gray: #212936;
    --silver: #4D5562;
    --lighterSilver: rgb(125, 128, 133);
    --white: #E5E7EB;
    --darkGray: #121826a6;
    --pink: #C93B76;

    --font: 'Inter', sans-serif;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

.container {
    background-image: url(./starter/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
}


.musicPlayer-container {
    padding: 1.5em;
    width: 360px;
    height: 550px;
    background-color: var(--darkGray);
    border-radius: 15px;
}


.music__image img {
    border-radius: 15px;
}

.title {
    color: var(--white);
    font-size: 1rem;
    text-align: center;
    margin-top: 1em;
}

.author {
    font-size: 0.85rem;
    color: var(--lighterSilver);
    font-weight: 400;
    text-align: center;
    margin-top: 0.4em;
}

